<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
</head>
<body>
<h1>Erlebnis</h1>
    <h2>Activities</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Activity</th>
            <th>Type</th>
            <th>Location(s)</th>
        </tr>
        </thead>
        {% for activity in activities %}
            <tr>
                <td>
                    <a href="{% url 'activity' activity.id %}">{{ activity.name }}</a>
                </td>
                <td>
                    {{ activity.type }}
                </td>
                <td>
                    <ul>
                        {% for location in activity.location.all %}
                        <li>{{ location.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>