<!DOCTYPE html>
{% load tz %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ activity }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
</head>
<body>
<h1>{{ activity }}</h1>
<div id="map" style="float: right; width: 800px; height: 800px;"></div>
<dl>
    <dt>Identifier:</dt>
    <dd>{{ activity.identifier }}</dd>
    <dt>Type:</dt>
    <dd>{{ activity.type }}</dd>
    {% timezone "America/New_York" %}
    <dt>Start time:</dt>
    <dd>{{ activity.start_time }}</dd>
    <dt>End time:</dt>
    <dd>{{ activity.end_time }}</dd>
    {% endtimezone %}
    <dt>Locations:</dt>
    <dd>
        <ul>
            {% for location in activity.location.all %}
            <li>{{ location.name }}{% if location.type != 'Place' %} ({{ location.type }}){% endif %}</li>
            {% endfor %}
            {% for coordinates in activity.coordinates.all %}
            <li>{{ coordinates.name }}: {{coordinates.latitude}}°, {{coordinates.longitude}}°</li>
            {% endfor %}
            {% for track in activity.tracks %}
            <li>{{ track.name }}: {{track.latitude}}°, {{track.longitude}}°</li>
            {% endfor %}
        </ul>
    </dd>
    <dt>Participants:</dt>
    <dd>
        <ul>
            {% for actor in activity.actor.all %}
            <li>{{ actor.name }}{% if actor.type != 'Person' %} ({{ actor.type }}){% endif %}</li>
            {% endfor %}
        </ul>
    </dd>
    <dt>Attachments:</dt>
    <dd>
        <ul>
            {% for attachment in activity.attachments.all %}
            <li>{{ attachment.file.name }}</li>
            {% endfor %}
        </ul>
        {% if activity.gpx_file %}
        <ul>
            <li>{{ activity.gpx_file.name }} ({{ activity.gpx_file.size|filesizeformat }})</li>
        </ul>
        {% endif %}
    </dd>
</dl>
<div>
  <a href="{% url 'activities_list' %}">Activities</a> |
  <a href="{% url 'edit_activity' activity.id %}">Edit</a> |
  <a href="{% url 'activity_stream' activity.id %}">JSON</a>
</div>
<script type="application/gpx+xml" id="gpx-data">{{ activity.gpx.to_xml }}</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
<script>
  var map = L.map('map');
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: 'Map data &copy; <a href="http://www.osm.org">OpenStreetMap</a>'
}).addTo(map);
 // URL to your GPX file or the GPX itself
var gpx = document.getElementById('gpx-data').text.replaceAll('&lt;', '<').replaceAll('&gt;', '>').replaceAll('&quot;', '"');
new L.GPX(gpx, {async: true}).on('loaded', function(e) {
  map.fitBounds(e.target.getBounds());
}).addTo(map);
</script>
</body>
</html>